/* PALLETTE */

$xiclos-grey-bg: #343433;
$xiclos-grey-bg-darker: #272726;
$xiclos-grey-placeholder: #6E6666;
$xiclos-grey-footer: #808080;
$xiclos-red: #EB564A;
$xiclos-yellow: #F9A71C;
$17BCC6: #17BCC6;
$EA0E48: #EA0E48;
$2BC5AD: #2BC5AD;
$00FEFF: #00FEFF;
$FFCF21: #FFCF21;
$FF4381: #FF4381;
$008CF1: #008CF1;
$00BBD7: #00BBD7;
$AC45C1: #AC45C1;
$67FFC9: #67FFC9;
$9AFF58: #9AFF58;
$FFFA3E: #FFFA3E;
$022F41: #022F41;