body {
    background: #ff005a;
    height: 100px;
    width: 100px;
    display: block;    
}

section.movies {
    background: #ff005a;
    height: 100px;
    width: 100px;
    display: block;
}